body {
    background-color: blanchedalmond;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

li + li {
    background-color: cadetblue;
}

h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
    font-style: oblique;
}

body {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
}

.button {
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }

.cardlist {
    list-style: none;
}

.card {
    width: 700px;
    margin: 10px;
    padding: 10px;
    border: solid black 2px;
}

.card img {
    border: dashed black 3px;
}

.image {
    width: 300px;
    margin: 20px;
}

.smallimage {
    width: 150px;
    margin: 20px;
}

.mainheading {
    font-size: 60px;
    width: 450px;
    margin: auto;
    padding: 20px;
}

.subheading {
    font-size: 48px;
    width: 250px;
    margin: auto;
    box-sizing: border-box;
}

.intro {
    width: 1080px;
    margin: auto;
}

.info {
    width: 600px;
    float: right;
}

.bluefill {
    background-color: blue;
}

.redoutline {
    border: solid red 2px;
}