body {
    background-color: blanchedalmond;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}


h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
    font-style: oblique;
}

body {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
}

ul {
    list-style-type: none;
}

.articleList {
    background-color: white;
    border: solid black 2px;
    width: 300px;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
}

.blogContent {
    background-color: white;
    width: 75%;
    margin: auto;
    clear: both;
}

.blogImage {
    float: left;
    margin: 20px;
    width: 500px;
}

.blogMetaInfo {
    font-size: 0.75em;
    margin: 10px;
}

.button {
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }

.cardlist {
    list-style: none;
}

.card {
    width: 700px;
    margin: 10px;
    padding: 10px;
    border: solid black 2px;
}

.card img {
    border: dashed black 3px;
}

.clearFix {
    clear: both;
}

.image {
    width: 300px;
    margin: 20px;
}

.flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.smallimage {
    width: 150px;
    margin: 20px;
}

.mainheading {
    font-size: 60px;
    text-align: center;
    width: 450px;
    margin: auto;
    padding: 20px;
}

.subheading {
    font-size: 48px;
    width: 250px;
    margin: auto;
    box-sizing: border-box;
}

.socialIcons {
    width: 30px;
    display: block;
    float: right;
}

.socialIcons:hover {
    cursor: pointer;
}

.intro {
    width: 1080px;
    margin: auto;
}

.info {
    width: 600px;
    float: right;
}

.bluefill {
    background-color: blue;
}

.redoutline {
    border: solid red 2px;
}
/* eliz_mocksite */

.back>a{
    color: white;
    text-decoration: none;
}
}

.header{
    display: flex;
    flex-direction: column;
    padding:10px;
}
.img-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.wolf-peach,
.apple{
    border: 2px dashed black;
    display: flex;
    width: 210px;
    flex-direction: column;
    align-items: center;
}
.wolf-peach>img{
    width: 100%;
    
    
    
}

.wolf-peach>p{
    font-size: 14px;
    
}

.apple>img{
    width: 100%;
    
    
    
}

.apple>p{
    font-size: 14px;
    
    
}

.goji{
    border: 2px dashed black;
}
.goji>img{
    width:100%
}

.goji>p{
    padding:5px;
    font-size: 14px;
}

.text-container>p:last-child{
    font-size: 25px;
    font-weight: 900;
}

.facebook>a{
    color: white;
}

.linkedin>a{
    color: white;  
}

.instagram>a{
    color: white;
}


/* RESPONSIVE DECLARATIONS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* MOBILE */

@media only screen and (max-width: 550px) {

    .imagebox {
        display: flex;
        flex-wrap: wrap;
        padding: 5px;
    }

    img {
        width: 100%;
    }

    .mobileimage {
        display: block;
        width: 50%;
        padding: 10px;
    }

    .mobileheading {
        font-size: 50px;
    }

    .content {
        display: flex;
        flex-direction: column;
    }
    
    .moviesheader {
        width: 100%;
        text-align: center;
        padding: 10px;
    }
}

/* TABLET AND LARGER */

@media only screen and (min-width: 550px) {

    .content {
        display: flex;
    }

    .imagebox {
        display: flex;
        flex-wrap: wrap;
        width: 66%;
        justify-content: space-between;
    }
    img {
        width: 100%;
    }

    .mobileimage {
        display: block;
        width: 33%;
        padding: 10px;
    }

    .mobileheading {
        font-size: 60px;
    }

    .moviesheader {
        margin: 5px;
        width: 33%;
        text-align: center;
        padding: 10px;
    }

}
